* {
    box-sizing: border-box;

  }

  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #c9a07f;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

  }

  input[type=submit] {
    background-color: #c9a07f;
    color: #D4C8BE;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8%;
    width: 125%;
  }

  input[type=submit]:hover {
    background-color: #000000;
  }

  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #D4C8BE;
    padding: 10px;
  }

  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;

  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.submitprof{
    margin-right: 20%;
}
